/* scrollbar styles */

.listBox::-webkit-scrollbar {
  width: 6px;
}

.listBox::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 2px;
}

.listBox::-webkit-scrollbar-track {
  background-color: #eee;
}

/* end of scrollbar styles */

.listBox {
  direction: ltr;
  max-height: 33rem;
  overflow-y: scroll;
}

.list {
  direction: rtl;
}

.more {
  color: #fff;
  background-color: rgb(247, 74, 74);
  padding: 1.35rem 20px;
}

@media (max-width: 480px) {
  .more {
    padding: 1.4rem 20px;
  }
}

/* -------------------------------- */

.listItem {
  margin: 1px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.listItemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 4.5px;
  box-sizing: border-box;
}

.arrow {
  font-size: 25px;
  transition: all ease 0.3s;
  margin-left: 5px;
}

.listItem:hover .arrow {
  transform: rotate(-90deg);
}

.innerList {
  box-sizing: border-box;
  padding-right: 23px;
}

.innerList li {
  max-height: 0;
  transition: all .2s;
}

.innerList li span {
  display: none;
  opacity:0
}

.listItemToggle .innerList li {
  max-height: 30px;
  margin:1px 0;
}

.listItemToggle .innerList li span {
  display: block;
  opacity: 1;
}

.listItemToggle .innerList li span a{
  padding: 5px 0;
  display: block;
}

.listItemToggle .arrow {
  transform: rotate(-90deg);
}
